@import "tailwindcss";

html,
body {
  -webkit-text-size-adjust: 100% !important;
  background-color: #0f172a !important;
}

body,
#root {
  max-width: 100vw;
  overflow-x: hidden;
}

.prose pre,
div[class*="language-"] pre,
pre {
  white-space: pre-wrap !important;
  word-break: break-all !important;
  overflow-wrap: anywhere !important;
  max-width: 100% !important;
}

aside {
  min-width: 260px !important;
}

nav button span {
  word-break: normal !important;
  white-space: nowrap;
}

.translate-wrapper select {
  background-color: #0f172a !important;
  color: #f7df1e !important;
  border: 1px solid #334155 !important;
  border-radius: 4px !important;
  padding: 2px 5px !important;
  font-size: 10px !important;
  outline: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}
